* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Arial', sans-serif;
      background: #3a3737;
      color: #252323;
    }

    /* HEADER */
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      background: #050505;
    }

    header img {
      height: 70px;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 25px;
    }

    nav a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      transition: color 0.3s;
    }

    nav a:hover {
      color: rgba(218, 140, 23, 0.973);
    }

    /* ===== DETALLE DEL PRODUCTO ===== */
.producto-detalle {
  padding: 60px 20px;
  background: #111;
  color: #fff;
  text-align: center;
}

.producto-detalle h2 {
  font-size: 2.5rem;
  color: gold;
  margin-bottom: 40px;
}

/* Layout principal */
.producto-main {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto 60px auto;
}

/* Imagen principal */
.producto-imagen {
  flex:  1px;
  overflow: hidden;
  border-radius: 12px;
}

.producto-imagen img {
  width: 90%;
  border-radius: 12px;
  transition: transform 0.5s ease;
  cursor: zoom-in;
}

.producto-imagen img:hover {
  transform: scale(1.2);
}

/* Info producto */
.producto-info {
  flex: 1 1 400px;
  text-align: left;
}

.producto-info h3 {
  color: gold;
  margin-bottom: 15px;
}

.descripcion-tecnica {
  margin: 20px 0;
  padding-left: 20px;
}

.descripcion-tecnica li {
  margin: 8px 0;
}

/* Personalización */
.personalizacion {
  margin-top: 20px;
}

.personalizacion h4 {
  color: gold;
  margin-bottom: 10px;
}

.personalizacion label {
  display: block;
  margin: 10px 0 5px;
}

.personalizacion select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #222;
  color: #fff;
  outline: none;
}

/* Productos relacionados */
.productos-relacionados {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.productos-relacionados h3 {
  color: gold;
  margin-bottom: 20px;
}

/* Carrusel horizontal */
.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;  
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.carousel .item {
  min-width: 250px;
  flex: none;
}

.carousel img {
  width: 90%;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.carousel img:hover {
  transform: scale(1.05);
}

    
    /* FOOTER */
    footer {
      text-align: center;
      padding: 20px;
      background: #000;
      margin-top: 40px;
      font-size: 0.9rem;
    }

    footer a {
      color: rgba(218, 140, 23, 0.973);
      text-decoration: none;
    }